$light-green: #10c1e4;
$green: rgba(51, 173, 51);
$alert-bg-greem: #d4edda;
$alert-txt-red: #721c24;
$alert-bg-red: #f8d7da;
$light-grey: #a0a0a0;
$grey: #b3b3b5;
$dark-grey: hsl(0deg 0% 9%);
// $dark-grey: #2b2848;
// $dark-blue: #454172;
$dark-blue: hsl(0deg 0% 19%);
$violet: #5d2bdf;
$dark-violet: #10002b;
$very-dark-violet: #090018;
$light-violet: #c77dff;
$white: #fff;
$gradient-bg: linear-gradient(to right, $light-green, $violet);
$dark-grey2: #575962;
$pink: #f4516c;
$light-grey2: #575962;
$blue-green: #34bfa3;
$light-violet2: #716aca;
