@use '@/styles/utilities/colors';

.content {
    background: colors.$very-dark-violet;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    &.open {
        max-height: 1000px;
        transition: max-height 0.5s ease-in-out;
    }
}
