@use '@/styles/colors';
@import '@/styles/medias';

.section.light {
    h1 {
        color: colors.$light-green;
    }

    .main {
        h3 {
            color: colors.$violet;
        }

        .card:first-child::after {
            color: colors.$grey;
        }

        .card {
            > label {
                background: colors.$white;
            }
        }

        .pick {
            opacity: 0.75;
            background: colors.$white;
            span {
                color: colors.$violet;
            }
        }
    }

    button {
        color: colors.$white;
    }

    @include for-tablet {
        .main {
            .card {
                > label {
                    color: colors.$violet;
                }
            }
        }

        .time_wrapper {
            > strong {
                color: colors.$violet;
            }
        }
    }
}

.section.dark {
    h1 {
        color: colors.$light-green;
    }

    .main {
        .day_wrapper {
            .pick {
                background: rgba(255, 255, 255, 0.85);
            }
        }

        h3 {
            color: colors.$light-green;
        }

        .card:first-child::after {
            color: colors.$light-green;
        }

        .card {
            > label {
                color: colors.$white;
                background: colors.$dark-blue;
            }
        }

        .pick {
            background: colors.$white;
            span {
                color: colors.$violet;
            }
        }

        .time_wrapper {
            > strong {
                color: colors.$light-green;
            }
        }
    }

    button {
        color: colors.$white;
    }

    @include for-tablet {
        .main {
            h3 {
                color: colors.$violet;
            }
            .card {
                > label {
                    background: colors.$white;
                    color: colors.$violet;
                }
            }
            .time_wrapper {
                > strong {
                    color: colors.$violet;
                }
            }
        }
    }
}

.section {
    padding: 1.5rem 1rem;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    overflow: visible;

    h1 {
        font-size: 0.95rem;
        text-align: center;
        font-weight: 500;
    }

    .main {
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        h3 {
            font-size: 1rem;
            text-align: center;
            font-style: italic;
        }

        .day_wrapper {
            z-index: 1;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0.25rem;

            .card:first-child::after {
                pointer-events: none;
                content: 'Tomorrow';
                position: absolute;
                top: -0.7rem;
                left: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                font-size: 0.45rem;
            }

            .card {
                position: relative;
                width: 50%;
                padding: 50%;
                cursor: pointer;

                input {
                    position: absolute;
                }

                input:checked + label {
                    border: 1px solid colors.$violet;
                }

                > label:hover {
                    border: 1px solid colors.$violet;
                }

                > label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 105%;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0.35rem 0.75rem;
                    gap: 0.25rem;
                    border-radius: 7px;
                    font-size: 0.5rem;
                    cursor: pointer;
                }
            }

            .pick {
                padding: 0.35rem 0.5rem;
                display: none;
                gap: 0.4rem;
                align-items: center;
                border: 1px solid colors.$grey;
                border-radius: 3px;
                display: block;

                input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border: none;
                    background: transparent;
                }

                span {
                    font-size: 0.85rem;
                    font-style: italic;
                }
            }
        }

        .time_wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            margin: 0 auto;

            > strong {
                grid-column: 2/3;
                font-size: 0.6rem;
                font-weight: 500;

                span {
                    font-weight: 700;
                }
            }

            .pick {
                display: block;
                border: 1px solid colors.$grey;
                border-radius: 5px;
                padding: 0.25rem;

                input[type='date'] {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border: none;
                    background: transparent;
                }

                input[type='time'] {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border: none;
                }

                input[type='time']::-webkit-calendar-picker-indicator {
                    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
                    cursor: pointer;
                }

                span {
                    font-size: 0.85rem;
                    font-style: italic;
                }

                svg {
                    flex: 1;
                }
            }
        }
    }

    button {
        margin: 0 auto;
        display: block;
        border: 1px solid colors.$violet;
        border-radius: 5px;
        padding: 1rem 2.6rem;
        font-weight: 600;
        background: linear-gradient(to right, colors.$light-green, colors.$violet);
    }

    @include for-tablet {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;

        h1 {
            font-size: 1.35rem;
            font-weight: 400;
        }

        .main {
            width: 85%;
            margin: 2rem auto 5rem;
            gap: 2rem;

            h3 {
                font-size: 1.2rem;
                text-align: left;
                font-style: normal;
            }

            .day_wrapper {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 0.5rem;

                .card:first-child::after {
                    top: -0.95rem;
                    font-size: 0.65rem;
                }

                .pick {
                    display: block;
                    width: 130px;
                }

                .card {
                    > label {
                        font-size: 0.6rem;
                    }
                }
            }

            .time_wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0 1rem;
                margin: 0;

                > strong {
                    font-size: 0.75rem;
                    font-weight: 500;

                    span {
                        font-weight: 700;
                    }
                }

                .pick.hidden {
                    display: none;
                }

                .pick {
                    padding: 0.35rem 0.5rem;
                    width: 130px;
                    display: block;
                    gap: 0.4rem;
                    align-items: center;
                    border: 1px solid colors.$grey;
                    border-radius: 3px;

                    .image {
                        width: 15px;
                        height: 15px;
                    }

                    span {
                        font-size: 0.85rem;
                        font-style: italic;
                    }

                    svg {
                        flex: 1;
                    }
                }
            }
        }

        button {
            margin: 0 10%;
            border-radius: 0px;
            padding: 0.45rem 2.6rem;
            font-style: italic;
            border: none;
        }
    }

    @include for-laptop-sm {
        padding: 2rem;
        max-width: 1000px;

        h1 {
            font-size: 1.5rem;
        }

        .main {
            .day_wrapper {
                gap: 1rem;

                .card:first-child::after {
                    top: -1.05rem;
                    font-size: 0.75rem;
                }

                .pick {
                    width: 150px;
                    padding: 0.45rem 0.5rem;
                    border-radius: 5px;
                }

                .card {
                    > label {
                        font-size: 0.8rem;
                    }
                }
            }

            .time_wrapper {
                gap: 1rem;
                padding: 0;

                > strong {
                    font-size: 0.9rem;
                }

                .pick {
                    padding: 0.45rem 0.5rem;
                    width: 150px;
                    border-radius: 5px;
                }
            }
        }

        button {
            margin: 7.5%;
            border-radius: 2px;
            padding: 0.55rem 2.6rem;
        }
    }

    @include for-desktop-md {
        padding: 3rem;
        max-width: 1200px;

        h1 {
            font-size: 1.65rem;
        }

        .main {
            .day_wrapper {
                .card:first-child::after {
                    top: -1.45rem;
                    font-size: 1rem;
                }

                .pick {
                    width: 160px;
                    padding: 0.55rem 0.5rem;
                }

                .card {
                    > label {
                        font-size: 0.85rem;
                    }
                }
            }

            .time_wrapper {
                gap: 1rem;

                > strong {
                    font-size: 1rem;
                }

                .pick {
                    padding: 0.55rem 0.5rem;
                    width: 160px;
                }
            }
        }
    }

    @include for-desktop-l {
        padding: 3.5rem;
        max-width: 1500px;

        h1 {
            font-size: 2.05rem;
        }

        .main {
            gap: 3.5rem;

            .day_wrapper {
                gap: 1.85rem;

                .card:first-child::after {
                    top: -1.75rem;
                    font-size: 1.2rem;
                }
                .pick {
                    width: 185px;
                    padding: 0.75rem;
                    align-items: center;
                    gap: 0.75rem;

                    span {
                        font-size: 1.2rem;
                    }
                }

                .card {
                    > label {
                        font-size: 1rem;
                    }
                }
            }

            .time_wrapper {
                > strong {
                    font-size: 1.2rem;
                }

                .pick {
                    padding: 0.75rem;
                    width: 185px;

                    span {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        button {
            border-radius: 2px;
            padding: 0.55rem 2.6rem;
            font-size: 1.2rem;
        }
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        pointer-events: none;

        @include for-tablet {
            display: block;
            width: 100%;
            height: 100%;

            .image1 {
                position: absolute;
                top: -15%;
                right: -12%;
                width: 55%;
            }

            .image2 {
                position: absolute;
                bottom: -10%;
                left: -15%;
                width: 25%;
            }
        }
    }
}
